<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- Add Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .good {background-color: #0C0;} 
        .moderate {background-color: #FFFF00;} 
        .usg {background-color: #FF9900;} 
        .unhealthy {background-color: #FF0000;} 
        .veryunhealthy {background-color: #990066;} 
        .hazardous {background-color: #660000;}    
    </style>


</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">WeatherApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<form action="{% url 'home' %}" class="form-inline my-2 my-lg-0 ml-auto" method="POST">
     {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Type the zip code here" aria-label="Search" name="zipcode">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>


    <!-- Content -->
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Add Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
